[MASTER]
disable=
    # Disable errors handled by mypy
    abstract-class-instantiated,
    arguments-differ,
    assigning-non-slot,
    assignment-from-no-return,
    assignment-from-none,
    bad-exception-cause,
    bad-format-character,
    bad-reversed-sequence,
    bad-super-call,
    bad-thread-instantiation,
    catching-non-exception,
    comparison-with-callable,
    deprecated-class,
    dict-iter-missing-items,
    format-combined-specification,
    global-variable-undefined,
    import-error,
    inconsistent-mro,
    inherit-non-class,
    init-is-generator,
    invalid-class-object,
    invalid-enum-extension,
    invalid-envvar-value,
    invalid-format-returned,
    invalid-hash-returned,
    invalid-metaclass,
    invalid-overridden-method,
    invalid-repr-returned,
    invalid-sequence-index,
    invalid-slice-index,
    invalid-slots-object,
    invalid-slots,
    invalid-star-assignment-target,
    invalid-str-returned,
    invalid-unary-operand-type,
    invalid-unicode-codec,
    isinstance-second-argument-not-valid-type,
    method-hidden,
    misplaced-format-function,
    missing-format-argument-key,
    missing-format-attribute,
    missing-kwoa,
    no-member,
    no-value-for-parameter,
    non-iterator-returned,
    non-str-assignment-to-dunder-name,
    nonlocal-and-global,
    not-a-mapping,
    not-an-iterable,
    not-async-context-manager,
    not-callable,
    not-context-manager,
    overridden-final-method,
    raising-bad-type,
    raising-non-exception,
    redundant-keyword-arg,
    relative-beyond-top-level,
    self-cls-assignment,
    signature-differs,
    star-needs-assignment-target,
    subclassed-final-class,
    super-without-brackets,
    too-many-function-args,
    typevar-double-variance,
    typevar-name-mismatch,
    unbalanced-dict-unpacking,
    unbalanced-tuple-unpacking,
    unexpected-keyword-arg,
    unhashable-member,
    unpacking-non-sequence,
    unsubscriptable-object,
    unsupported-assignment-operation,
    unsupported-binary-operation,
    unsupported-delete-operation,
    unsupported-membership-test,
    used-before-assignment,
    using-final-decorator-in-unsupported-version,
    wrong-exception-operation
