# Home assistant
homeassistant==2023.10.1
colorlog==6.7.0

# Use a specific version of aiovantage
aiovantage==0.13.0

# Use a local version of aiovantage
# -e ../aiovantage

# Type stubs
voluptuous-stubs==0.1.1
homeassistant-stubs==2023.12.3

# Linting, etc
black==23.10.1
mypy==1.6.1
ruff==0.1.3

# Other
pre-commit==3.5.0