# Home assistant
homeassistant==2024.9.2
colorlog==6.8.2

# Use a specific version of aiovantage
aiovantage==0.15.0

# Use a local version of aiovantage
# -e ../aiovantage

# Type stubs
voluptuous-stubs==0.1.1
homeassistant-stubs==2024.10.4

# Linting, etc
black==24.8.0
mypy==1.13.0
ruff==0.6.7

# Other
pre-commit==3.8.0