# Home assistant
homeassistant==2023.8.1
colorlog==6.7.0

# Use a specific version of aiovantage
aiovantage==0.12.2

# Use a local version of aiovantage
# -e ../aiovantage

# Type stubs
voluptuous-stubs==0.1.1
homeassistant-stubs==2023.8.1

# Linting, etc
black==23.7.0
mypy==1.5.1
ruff==0.0.286

# Other
pre-commit==3.3.3